<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>

 <!--

  <div class="outer">
       <<<<<<< HEAD

   <a href="http://es.paperblog.com/" rel="paperblog antonioangel" title="Paperblog : Los mejores artículos de los blogs" >
    <img src="http://m1.paperblog.com/assets/images/logos/minilogo.png" border="0" alt="Paperblog" />
    </a>

>>>>>>> a6e7ead35149c73c3e5e8d8eb4d37180f4e32773


</div>
    -->
</div>
</footer>
