<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>

<!--    <div class="outer"> -->
       <!-- <<<<<<< HEAD -->
<!-- 
   <a href="http://es.paperblog.com/" rel="paperblog antonioangel" title="Paperblog : Los mejores artículos de los blogs" >
    <img src="http://m1.paperblog.com/assets/images/logos/minilogo.png" border="0" alt="Paperblog" />
    </a>
 --> 
      <!-- >>>>>>> a6e7ead35149c73c3e5e8d8eb4d37180f4e32773 -->
       <!--
    </div>
    <div class="outer">
    <a href="http://www.boosterblog.es" target="_blank"><img src="http://www.boosterblog.es/css/original/boosterblog-es-logo.gif" width="100" height="40" alt="Aumenta el tráfico de tu blog" /></a>
   </div>
      -->
     <div class="outer">
    <a title="todareceta.es" href="http://www.todareceta.es" id="hr-todareceta.es" target="_blank"> <img src="https://widget.mytaste.org/blogcounter/image?image=blue_s&blog_id=XPug9&alias=spain" alt="todareceta.es" border="0"> </a> <script> document.write('<scr'+'ipt src="https://widget.mytaste.org/blogcounter.js?blog_id=XPug9&alias=spain&timestamp=' + (0|new Date / 1000) +'"> </scr'+'ipt>'); </script>
    </div>
 
      <div class="outer">   
    <a class="blsdk-follow" href="https://www.bloglovin.com/blogs/hamburguesas-caseras-19115631" target="_blank" data-blsdk-type="button" data-blsdk-counter="false">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
      </div>  
  </div>
</footer>
