<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
    <div class="outer">
    <a href="http://es.paperblog.com/" rel="paperblog antonioangel" title="Paperblog : Los mejores artículos de los blogs" >
  <img src="http://m1.paperblog.com/assets/images/logos/minilogo.png" border="0" alt="Paperblog : Los mejores artículos de los blogs" />
    </div>
    <div class="outer">    
    <a href="http://www.boosterblog.es" target="_blank"><img src="http://www.boosterblog.es/css/original/boosterblog-es-logo.gif" width="20" height="8" alt="Aumenta el tráfico de tu blog" /></a>
    </div>    
  </div>
</footer>
