<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  
       <div class="outer">
    <a title="todareceta.es" href="http://www.todareceta.es/dagodburger" id="hr-todareceta.es" target="_blank"> <img src="https://widget.mytaste.org/blogcounter/image?image=blue_s&blog_id=XPug9&alias=spain" alt="todareceta.es" border="0"> </a> <script> document.write('<scr'+'ipt src="https://widget.mytaste.org/blogcounter.js?blog_id=XPug9&alias=spain&timestamp=' + (0|new Date / 1000) +'"> </scr'+'ipt>'); </script>
    </div>
 
      <div class="outer">   
    <a class="blsdk-follow" href="https://www.bloglovin.com/blogs/hamburguesas-caseras-19115631" target="_blank" data-blsdk-type="button" data-blsdk-counter="false">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
      </div>  
  </div>
  
</aside>
