/* Concatenates the stylesheet files */
@import "hexo-base.css"
@import "callouts.css"
@import "share-box.css"
@import "highlight-js.css"
@import "custom.css"


// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 14px
line-height = 1.6em
line-height-title = 1.1em


// Header
logo-size = 40px
subtitle-size = 16px
banner-height = 120px
banner-url = "images/default-banner-dark.jpg"
