<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('collaborate_with') %></h3>
    <div class="widget">   
    
  <a title="premiosblogosfera.wordpress.com" href="https://premiosblogosfera.wordpress.com" id="premiosblogosfera.wordpress.com" target="_blank"> <img src="https://res.cloudinary.com/hamburguesascaseras/image/upload/c_scale,w_196/v1507889161/premiosblogosfera.wordpress_wd1sdk.jpg" alt="premiosblogosfera.wordpress.com" border="0"> </a> 
  <a title="bloguers.net" href="https://bloguers.net/user/Hamburguesascas/" id="bloguers.net" target="_blank"> <img src="https://res.cloudinary.com/hamburguesascaseras/image/upload/v1507890112/bloguers_rc1_ettprs.png" alt="bloguers.net" border="0"> </a> 
 
 <a title="todareceta.es" href="http://www.todareceta.es/dagodburger" id="hr-todareceta.es" target="_blank"> <img src="https://widget.mytaste.org/blogcounter/image?image=blue_s&blog_id=XPug9&alias=spain" alt="todareceta.es" border="0"> </a> <script> document.write('<scr'+'ipt src="https://widget.mytaste.org/blogcounter.js?blog_id=XPug9&alias=spain&timestamp=' + (0|new Date / 1000) +'"> </scr'+'ipt>'); </script>
<script type='text/javascript'>
document.write('<di'+'v style="display:inline" id="redfacilisimo"></di'+'v>');
var _redf = {d:false,ic:'2-3',bg:'FFFFFF',id:'1061523'};
(function(){
var s=document.createElement('script'); s.type='text/javascript'; s.async=true; s.src='https://www.facilisimo.com/red/insignia.js';
var h=document.getElementsByTagName('script')[0]; h.parentNode.insertBefore(s,h);
})();
</script>
<a class="blsdk-follow" href="https://www.bloglovin.com/blogs/hamburguesas-caseras-19115631" target="_blank" data-blsdk-type="button" data-blsdk-counter="false">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
</div>
  </div>
<% } %>
