<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('twitterfeed_a') %></h3>
    <div class="widget">
      <div id="twitter-feed" class="widget-wrap">
          <a class="twitter-timeline" href="https://twitter.com/eltulo2001"
          data-widget-id="440159277538238464"></a>
          <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
        </div>
      </div>
    </div>
  </div>
<% } %>
